{{#foreach posts}}
<article class="{{post_class}} site-width">
  <header>
    <h2><a href="{{url}}">{{{title}}}</a></h2>
  </header>
  <div>
    {{#if image}}
    <img style="margin-top: 12px; margin-bottom: 12px" src='{{image}}' />
    {{/if}}
    <p>{{excerpt words="10"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
  </div>
  <footer>
    <div>
      Post
      {{tags prefix=" on "}}
      <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time>
    </div>
  </footer>
</article>
{{/foreach}}

{{pagination}}
